{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-4">
    <!-- Displaying book details -->
    <div>
        <h1>{{ book.title }}</h1>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Publication Date:</strong> {{ book.publication_date }}</p>
        <p><strong>Summary:</strong></p>
        <p>{{ book.summary | safe }}</p>
    </div>
    <!-- Displaying count of reviews -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ reviews_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying reviews -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Reviews:</h3>
            <div class="card-body">
                {% for review in reviews %}
                <div class="p-2 comments
          {% if not review.approved and review.reviewer == user %}
          faded{% elif not review.approved %} d-none{% endif %}">
                    <div id="reviewRating{{ review.id }}" rating="{{ review.rating }}" class="mb-2">
                        <p><strong>Rating:</strong> {{ review.rating }}/5</p>
                    </div>
                    <div id="reviewContent{{ review.id }}">
                        {{ review.content | linebreaks }}
                    </div>
                    <p class="font-weight-bold">
                        {{ review.reviewer }}
                        <span class="font-weight-normal">
                            {{ review.posted_on }}
                        </span> wrote:
                    </p>
                    {% if not review.approved and review.reviewer == user %}
                    <p class="text-warning">
                        This review is awaiting approval
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and review.reviewer == user %}
                    <button class="btn btn-edit" review_id="{{ review.id }}">
                        Edit
                    </button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Creating New Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a review:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="reviewForm" method="post" style="margin-top: 1.3em;">
                    {{ review_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a review</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}