{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1>My Favourites</h1>
    <div class="row">
        {% for favourite in favourites %}
        <div class="col-md-8 card profile-card mb-4  mt-3 ">
            <h3>
                <a href="{% url 'book_detail' favourite.book.slug %}">{{ favourite.book.title }}</a>
            </h3>
            <div class="card-body">
                <p><strong>Author:</strong> {{ favourite.book.author }}</p>
                <p><strong>Genres:</strong> {{ favourite.book.genre.all|join:", " }}</p>
                <p><strong>Average Rating:</strong>
                    <span class="fa fa-star {% if favourite.book.average_rating > 0 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if favourite.book.average_rating > 1 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if favourite.book.average_rating > 2 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if favourite.book.average_rating > 3 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if favourite.book.average_rating > 4 %} checked {% endif %}"></span>
                </p>
                <p><strong>Publication Date:</strong> {{ favourite.book.publication_date }}</p>
                <form id="favouriteForm{{ favourite.id }}" method="post" action="{% url 'my_favourites' %}">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    {% if favourite.user == user %}
                    <input type="hidden" name="favourite_id" value="{{ favourite.id }}">
                    <button type="button" class="btn btn-danger btn-remove-favourite" data-bs-toggle="modal"
                        data-bs-target="#removeFavouriteModal" data-form-id="favouriteForm{{ favourite.id }}">
                        Remove from Favourites
                    </button>
                    {% endif %}
                    {% endif %}
                </form>
            </div>
        </div>
        {% empty %}
        <p>You have not added any books to your favourites yet.</p>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="removeFavouriteModal" tabindex="-1" aria-labelledby="removeFavouriteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeFavouriteModalLabel">Remove from favourites?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this book from your favourites?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="removeFavouriteConfirm" class="btn btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
<script src="{% static 'js/my-favourites.js' %}"></script>
{% endblock %}